[submodule "src/third_party/sqlpp11"]
	path = src/third_party/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "src/third_party/Simple-WebSocket-Server"]
	path = src/third_party/Simple-WebSocket-Server
	url = https://gitlab.com/llakerink/Simple-WebSocket-Server.git
[submodule "src/third_party/json"]
	path = src/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "src/third_party/date"]
	path = src/third_party/date
	url = https://github.com/HowardHinnant/date.git
[submodule "src/third_party/boost"]
	path = src/third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "src/third_party/openssl"]
	path = src/third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/third_party/openssl-cmake"]
	path = src/third_party/openssl-cmake
	url = https://github.com/janbar/openssl-cmake.git
[submodule "src/third_party/folly"]
	path = src/third_party/folly
	url = https://github.com/facebook/folly.git
[submodule "src/third_party/double-conversion"]
	path = src/third_party/double-conversion
	url = https://github.com/google/double-conversion.git
[submodule "src/third_party/libevent"]
	path = src/third_party/libevent
	url = https://github.com/libevent/libevent.git
[submodule "src/third_party/fmt"]
	path = src/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/third_party/glog"]
	path = src/third_party/glog
	url = https://github.com/google/glog.git
[submodule "src/third_party/sqlite3-cmake"]
	path = src/third_party/sqlite3-cmake
	url = https://github.com/alex85k/sqlite3-cmake.git
